html {
  font-size: 62.5%;
}
body {
	line-height: 1.2;
  background: #7b7776;
  font-size: 1.5em;
  margin: 8px 0;
  Font-family: 'Public Sans', Arial, sans-serif;
}
section {
  margin: 0 0 10px 0;
  padding: 10px 40px 10px 40px;
  background: #f1f0ef;
  color: #000;
}
#content,header,footer {
  max-width: 700px;
  margin: 0 auto;
}
#input {
  height: 8em;
  width: 98%;
}
#output {
  height: 12em;
  width: 98%;
}
#out {
  margin: 10px 0;
}
a:link{
  color:#1b58a3;
  text-decoration: none;
}
a:visited{
  color: #1b58a3;
}
a:hover{
  text-decoration: underline;
}
ul, ol {
  padding-left:20px;
}
h1 {
  padding: 10px;
  margin: 0 0 5px 0;
  background: #333333;
  color: #eee;
  font-size: 2.618rem;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 23px;
  font-family: Candara, 'Public Sans', Arial, sans-serif;
}
h2,h3,h4,h5,h6 { 
  Font-family: 'Public Sans', Arial, sans-serif;
}
h2 {
  margin: 9px 0 9px 0;
  font-size: 2.5rem;
}
h3 {
  margin: 7px 0 7px 0;
  font-size: 2.3rem;
}
h4 {
  margin: 7px 0 7px 0;
  font-size: 2.15rem;
}
h5 {
  margin: 7px 0 7px 0;
  font-size: 2rem;
}
h6 {
  margin: 7px 0 7px 0;
  font-size: 1.7rem;
}
blockquote {
  margin: 15px 25px 15px 25px;
}
p {
  margin: 10px 0;
}
img {
  max-width: 580px;
  width: auto;
}

/* ------------------------- */

label, a:link, #switch-field, #bottom-content {
  font-family: "Segoe UI", Arial, sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}
#abbrvDelimiterInput,
#abbrvInput,
#abbrvDelimiterInput,
#notInterlinear {
  width: 95%;
  max-width: 40em;
  min-width: 40%;
}
#abbrvInput {
  height: 5em;
}
#switch-field {
  display: flex;
}
textarea, input {
  background: #Fdfbf8;
}
#switch-field input {
  -webkit-appearance: none;
  background-color: #fefefe;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 3px;
  text-align: center;
  padding: 8px 13px 6px 13px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;
  user-select: none;
}
#switch-field input:hover {
  cursor: pointer;
}
#switch-field .checked {
  background-color: #2d77d1;
  color: #FFF;
  box-shadow: none;
}
button {
  -webkit-appearance: none;
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 500;
  font-size: 1.4em;
  line-height: 1;
  margin-bottom: 3px;
  text-align: center;
  padding: 8px 10px 6px 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 2px 3px rgb(0 0 0 / 40%), 0 1px rgb(0 0 0 / 10%);
  transition: all 0.1s ease-in-out;
  user-select: none;
}
button:hover {
  cursor: pointer;
}
fieldset {
  border: 2px ridge #aaa;
  margin-bottom: 8px;
}
fieldset legend {
  font-weight: bold;
  padding: 0 2px;
}

/* ------------------------- */

#outerTable {
  overflow-x: auto;
  overflow-y: clip;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
  overflow-x: auto;
  margin-bottom: 5px;
}
table tr {
  white-space: nowrap;
}
table tr td {
  padding-right: 3px;
}

/* ------------------------- */

pre {
  overflow-x: auto;
  overflow-y: clip;
  margin: 5px 0 8px 0;
}
div .gll {
  display: inline-table;
  padding-right: 10px;
}
.gmg-ack {
  font-size: small;
}

.abbrv {
  cursor: help;
}
.sc {
  font-variant: small-caps;
  font-variant-numeric: oldstyle-nums;
  text-transform: lowercase;
}

@media only screen and (max-width: 620px) {
    body {
      margin: 0;
    }
    section {
      margin: 0 0 10px 0;
      padding: 8px;
    }
    #switch-field {
      display: inline;
    }
  }