html {
  font-size: 62.5%;
  color-scheme: dark;

  --bg: #000;
  --section-bg: #303030;
  --text: #ddd;
  --bold: #fff;
  --link: #68aeff;
  --li-marker: #afafaf;

  --active-bg: #df1c6b;
  --active-text: #fff;
  --select-bg: #a3154e;
  --select-text: #fff;

  --error-text: #ff0000;
  --hover-text: #fff;
  --hover-bg: #00A4BD;

  /* BORDERS & SHADOW */
  --light-grey-border: #999999;
  --dark-grey-border: #555555;
  --light-grey-shadow: #7d7d7d;
  /* TOOLBAR */
  --toolbar-bg: #3d3d3d;
  --nav-arrow: #b5b5b5;
  /* CODE & BUTTON & TEXTBOX */
  --code-bg: #584747;
  --code-text: #eee;
  --button-bg: #363658;
  --button-text: #fff;

  --disabled-button-bg: #3e3e3e;
  --disabled-button-text: #a2a2a2;

  --textbox-bg: #111;
  --textbox-text: #fefefe;
  --mark-bg: #00A4BD;
  --mark-text: #fff;
  /* TABLE */
  --table-even-rows-bg: #101010;
  --table-even-rows-text: #ddd;
  --sortable-selected: #ff2f2f;
  --sortable-unselected: #8d9bff;
  /* COLOURS FOR BUTTONS */
  --pale-green: #c4d5a7;
  --dark-green: #a9d5c7;
  --pale-yellow: #eee295;
  --pale-purple: #dbdbf4;
  --pale-tan: #f0d7d7;
  --pale-pink: #e3bde3;
  --off-white: #f3f3f3;
  --pale-brown: #eee9e9;
}

.light-mode {
  color-scheme: light;

  --bg: #555555;
  --section-bg: #fcfcfc;
  --text: #000000;
  --bold: #000;
  --link: #0057ba;
  --li-marker: #111;

  --active-bg: #df1c6b;
  --active-text: #fff;
  --select-bg: #a3154e;
  --select-text: #fff;

  --error-text: #ff0000;
  --hover-text: #fff;
  --hover-bg: #00A4BD;

  /* TOOLBAR */
  --toolbar-bg: #e1e1e1;
  --nav-arrow: #000;
  /* CODE & BUTTON & TEXTBOX */
  --code-bg: #eedfdf;
  --code-text: #000;
  --button-bg: #fdfdfd;
  --button-text: #000;

  --disabled-button-bg: #eee;
  --disabled-button-text: #6c6c6c;

  --textbox-bg: #fff;
  --textbox-text: #000;
  --mark-bg: #00A4BD;
  --mark-text: #fff;
  /* TABLE */
  --table-even-rows-bg: #e2e2e2;
  --table-even-rows-text: #000;
  --sortable-selected: #cc1f1f;
  --sortable-unselected: #0057ba;
  /* COLOURS FOR BUTTONS */
  --pale-green: #eaffc6;
  --dark-green: #c6fae9;
  --pale-yellow: #fffbc1;
  --pale-purple: #dbdbff;
  --pale-tan: #ffdbdb;
  --pale-pink: #ffd2ff;
  --off-white: #ffffff;
  --pale-brown: #fbf6f9;
}

.warm-mode {
  color-scheme: light;

  --bg: #252525;
  --section-bg: #f0eee7;
  --text: #48595e;
  --bold: #073642;
  --link: #2273ad;
  --li-marker: #586e75;

  --active-bg: #aa8002;
  --active-text: #fff;
  --select-bg: #a75613;
  --select-text: #fff;

  --error-text: #ff0000;
  --hover-text: #000;
  --hover-bg: #ffdd00;

  /* TOOLBAR */
  --toolbar-bg: #ddd6bd;
  --nav-arrow: #000;
  /* CODE & BUTTON & TEXTBOX */
  --code-bg: #eedfdf;
  --code-text: #000;
  --button-bg: #fff;
  --button-text: #073642;

  --disabled-button-bg: #dadada;
  --disabled-button-text: #6c6c6c;

  --textbox-bg: #f0f0f0;
  --textbox-text: #073642;
  --mark-bg: #ffdd00;
  --mark-text: #fff;
  /* TABLE */
  --table-even-rows-bg: #e5e0d0;
  --table-even-rows-text: #586e75;
  --sortable-selected: #cc1f1f;
  --sortable-unselected: #0057ba;
  /* COLOURS FOR BUTTONS */
  --pale-green: #d1e2b2;
  --dark-green: #b9e6d8;
  --pale-yellow: #eee295;
  --pale-purple: #d9d9fb;
  --pale-tan: #eecfcf;
  --pale-pink: #f0caf0;
  --off-white: #ffffff;
  --pale-brown: #edebeb;
}

body {
  background: var(--bg);
  font-family: 'Public Sans', Arial, sans-serif;
  font-size: 1.5em;
  line-height: 1.2;
  margin: 0;
}
nav {min-height: 38px;}
nav, footer {
  background: var(--toolbar-bg);

  max-width: 800px;
  margin: 0 auto;
  padding: 2px 0;
}
nav button, footer button{
  margin:0;
}
.breadcrumbs {
  font-size:1em;
  margin: 2px 5px 2px 0;
}
.breadcrumbs li {
  display: inline-block;
}
.breadcrumbs li a {
  display: inline-block;
}
.breadcrumbs li img {
  height: 20px;
  padding: 7px 0 3px 0
}
section {
  background: var(--section-bg);
  color: var(--text);
  margin: 10px 0 0 0;
  padding: 8px;
}
section#top {
  margin: 0;
}

#content,header,footer {
  max-width: 800px;
  margin: 0 auto;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}

/*-- Text Elements --*/
a:link{
  color: var(--link);
  text-decoration: none;
}
a:visited{
  color: var(--link);
}
a:link:hover{
  text-decoration: underline;
}

b {
  color: var(--bold);
}
h1 {
  margin: 4px 0 30px 0;
  font-size: 3rem;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 35px;
}
h1, h2,h3,h4,h5,h6 { 
  font-family: 'Public Sans', Arial, sans-serif;
  color: var(--bold);
}
h2,h3,h4,h5,h6 { 
  margin: 22px 0 12px 0;
}

h2 {font-size: 2.7rem;}
h3 {font-size: 2.3rem;}
h4 {font-size: 1.9rem;}
h5 {font-size: 1.7rem;}
h6 {font-size: 1.5rem;}

p {
  color: var(--text);
  margin: 10px 0;
  word-wrap: break-word;
}
blockquote {
  margin: 15px 0 15px 15px;
  overflow-x: auto;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
ul, ol {
  padding-left:20px;
}

li::marker { color: var(--li-marker) }

li, blockquote, dl, dl dt, dl dd, figcaption,
summary, address, legend, label { color: var(--text)}


/*TABLES*/
table {
	border-collapse: collapse;
	border-spacing: 0;
  margin-bottom: 5px;
  overflow-x: auto;
  color: var(--text);
}
table tr {
  white-space: nowrap;
}
table tr td {
  padding-right: 3px;
}
thead {
  border-bottom: solid var(--dark-grey-border);
  border-bottom-width: thin;
  background: var(--table-even-rows-bg);
  color: var(--bold);
  flex-wrap: nowrap;
  font-size: 1.4em;
  -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;
  user-select: none;
}
.sortable thead {
  cursor: pointer;
}
.sortable thead .sorttable_nosort {
  cursor: default;
}
.sortable thead th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_original):not(.sorttable_nosort):after {
  content: " \2195";
  color: var(--sortable-unselected);
}
.sorttable_sorted::after, .sorttable_original::after { /*-- down arrow--*/
  content: " \2193";
  color: var(--sortable-selected);
}
.sorttable_sorted_reverse::after { /*-- up arrow--*/
  content: " \2191";
  color: var(--sortable-selected);
}
.styled-table tr:nth-child(even) {
  background: var(--table-even-rows-bg);
  color: var(--table-even-rows-text);
  overflow-x: auto;
}
.styled-table tr:last-child {
  border-bottom: solid var(--light-grey-border);
  border-bottom-width: 0.5px;
}
.styled-table tr:first-child {
  border-top: solid var(--light-grey-border);
  border-top-width: 0.5px;
}
.styled-table td {
  border-left: solid var(--light-grey-border);
  border-left-width: 0.5px;
  border-right: solid var(--light-grey-border);
  border-right-width: 0.5px;
  font-weight: 400;
  padding: 2px 5px 2px 5px;
  text-align: left;
}
.styled-table th {
  border: solid var(--light-grey-border);
  border-width: 0.5px;
  font-weight: bold;
  padding: 2px 5px 2px 5px;
  text-align: left;
  white-space: nowrap;
  flex-wrap: nowrap;
}
.styled-table {
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  font-size: 1em;
  margin-bottom: 2px;
  margin-right: auto;
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
  width: inherit;
}
.fixed-header{
  width: 400px;
  table-layout: fixed;
  border-collapse: collapse;
}

.fixed-header tbody{
  display:block;
  width: 100%;
  overflow: auto;
  height: 100px;
}

.fixed-header thead tr {
  display: block;
}
code.example {
  font-family: monospace;
  word-wrap: break-word;
  padding: 1px 2px;
  background: var(--code-bg);
  color: var(--code-text);
  border-radius: 3px;
  font-size: 1.18em;
}
pre.example {
  background: var(--code-bg);
  color: var(--code-text);
  border-radius: 3px;
  font-size: 1.18em;
  overflow-y: clip;
  overflow-x: auto;
  margin: 0;
  padding: 8px 8px;
}
abbr:hover {
  cursor: help;
}
mark {
  background: var(--mark-bg-bg);
  color: var(--mark-bg-text);
  padding: 2px 2px
}


/*-- Form Elements --*/
label {
  color: var(--text);
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: "Segoe UI", Arial, sans-serif;
  -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;
  user-select: none;
}
fieldset {
  border: 2px ridge var(--light-grey-border);
  padding: 5px 5px;
  margin-bottom: 8px;
}
fieldset legend {
  font-weight: bold;
  padding: 0 2px;
}
input[type='checkbox'], input[type='radio'], input[type='range'], progress {
  accent-color: var(--active-bg);
}
input[type='range'] {
  margin-top: 5px;
}
select option:hover {
  background: var(--hover-bg);
  color: var(--hover-text);
}
textarea {
  box-sizing: border-box;
  width: 100%;
}
textarea, input, .fake-textbox {
  background: var(--textbox-bg);
  color: var(--textbox-text);
  white-space: pre;
  text-wrap: wrap;
  font-size: 16px;
}
.fake-textbox {
  -moz-appearance: textfield-multiline;
  -webkit-appearance: textarea;
  border: transparent solid 1px;
  resize: both;
  box-shadow: inset 0px 1px 2px var(--light-grey-border);
  padding: 6px;
  font-family: monospace;
  font-size: 1.2em;
  width: 98%;
}
.fake-textbox:hover {
  cursor: auto;
}
.fake-textbox:focus {
  outline: none;
  border: none;
  border: var(--light-grey-border) solid 1px;
}
.dropdown {
  display: inline-block;
  position: relative;
  margin-bottom: 5px;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  background: var(--textbox-bg);
  display: block;
  color: var(--textbox-text);
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: var(--hover-text);
  background: var(--hover-bg);
  cursor: pointer;
}
.dropdown-content a:active {
  color: var(--select-text);
  background: var(--select-bg);
}
button, input[type="submit"], input[type="button"], input[type="reset"], input[type="disabled"],
.dropdown-btn {
  -webkit-appearance: none; -moz-appearance: none;
  appearance: none;
  background: var(--button-bg);
  color: var(--button-text);

  border: 1px solid rgba(0,0,0,0.4);
  box-shadow: inset 0 1px 3px rgb(0 0 0 / 50%), 0 1px rgb(0 0 0 / 20%);
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1;
  margin-top: 3px;
  padding: 8px 10px 6px 10px;
  text-align: center;
  transition: all 0.1s ease-in-out;
  -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;
  user-select: none;
}
input[type="disabled"], input:disabled {
  background: var(--disabled-button-bg);
  color: var(--disabled-button-text);
}


button:hover:not(:disabled), input[type="submit"]:hover:not(:disabled), input[type="button"]:hover:not(:disabled), input[type="reset"]:hover:not(:disabled),
.dropdown-btn:hover {
  box-shadow: inset 0 1px 3px rgba(140,140,140,0.5), 0 1px rgba(140,140,140,0.2);
  cursor: pointer;
}
button[type="disabled"], button:disabled {
  background: var(--disabled-button-bg);
  color: var(--disabled-button-text);
}
table:not(.ipa-table) button:active:not(:disabled), input[type="submit"]:active:not(:disabled),
input[type="button"]:active:not(:disabled), input[type="reset"]:active:not(:disabled),
input[type="disabled"]:active:not(:disabled),
.dropdown-btn:active:not(:disabled) {
  color: var(--select-text);
  background: var(--select-bg);
}
button, input[type="submit"], input[type="button"], input[type="reset"], input[type="disabled"], fieldset, textarea .fake-textbox,
.dropdown-btn {
  border-radius: 3px;
}
textarea:disabled {
  background: var(--disabled-button-bg);
  color: var(--disabled-button-text);
}
.dropdown-btn {
  width: 100px;
}

/* /// */
.dropdown-group a {
  color: var(--button-text);
  display: inline-block;
  background: var(--button-bg);
  padding: 5px 5px 3px 5px;
  margin-top: 4px;
  border: none;
  font-size: 0.95em;

  box-shadow: inset 0 1px 3px rgb(0 0 0 / 50%);
  -webkit-box-shadow: inset 0 1px 3px rgb(0 0 0 / 50%);
  text-decoration: none;

  -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;
  user-select: none;
}
.dropdown-group a:hover {
  cursor: pointer;
  box-shadow: inset 0 1px 3px rgba(140,140,140,0.5), 0 1px rgba(140,140,140,0.2);
  text-decoration: none;
}
.dropdown-group a:active {
  color: var(--select-text);
  background: var(--select-bg);
  -webkit-box-shadow: none;
        box-shadow: none;
}

/*-- Embedded content --*/
meter::-webkit-meter-optimum-value {
  background: var(--active-bg);
}
meter::-moz-meter-bar {
  background: var(--active-bg);
  border: none;
}
video, audio, iframe, embed, object {
  width:100%;
  border: solid var(--dark-grey-border) 1px;
  border-radius: 3px;
}
img {
  max-width: 580px;
  overflow: scroll;
}


/* --Input Stuff-- */
#abbrvDelimiterInput,
#abbrvInput,
#abbrvDelimiterInput,
#notInterlinear {
  max-width: 40em;
  min-width: 40%;
  width: 95%;
}
#abbrvInput {
  height: 5em;
}


div .gll {
  display: inline-table;
  padding-right: 10px;
}
.gmg-ack {
  font-size: small;
}
.abbrv {
  cursor: help;
}
.sc {
  font-variant: small-caps;
  font-variant-numeric: oldstyle-nums;
  text-transform: lowercase;
}
.error-message, #lex-output-message p {
  color: var(--error-text);
}
#lex-output-message {
  margin: 6px 0;
}
#lex-output-message p {
  margin-left: 5px; margin-right: 5px;
}


#input {
  height: 8em;
  width: 98%;
  white-space: pre;
}
#lex-output-words-field, #GMGOutput{
  font-family: monospace;
}
#out {
  margin: 10px 0;
}
.switch-field {
  margin: 10px 0;
}
.switch-field .checked {
  background: var(--active-bg);
  box-shadow: none;
  color: var(--active-text)
}

#editor {
  height: 595px;
  margin-top: 10px;
}

/*Ipa stuff */
.cons {
  background: var(--pale-green)
}
.vowel {
  background: var(--pale-purple)
}
.supra {
  background: var(--pale-pink)
}
.tone {
  background: var(--pale-tan)
}
.consN {
  background: var(--dark-green)
}
.other {
  background: var(--pale-yellow)
}
.diac {
  background: var(--off-white)
}
.diacX {
  background: var(--pale-brown)
}

.ipa-table {
  overflow-x: auto;
  white-space: nowrap;
  display: block;
  overflow-y: hidden;
}

.ipa-table tr td{
 padding: 1px 1px 0 0;
 width: 24px;
 height: 26px;
}
.ipa-table button {
  color: #000;
  margin: 0 auto;
  padding: 0;
  width: 24px;
  height: 100%;
  border: none;
  border-radius: 0;

  box-shadow: inset 0 1px 3px rgba(88,88,88,0.4), 0 1px rgb(88 88 88 / 10%);
  -webkit-box-shadow: inset 0 1px 3px rgba(88,88,88,0.4), 0 1px rgb(88 88 88 / 10%);

  -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;
  user-select: none;
}
.ipa-table button:hover {
  -webkit-box-shadow: 1px 1px 3px var(--light-grey-shadow);
        box-shadow: 1px 1px 3px var(--light-grey-shadow);
}
.ipa-table button:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media only screen and (min-width: 810px) {

   .ipa-table button {
    font-size: 19px;
    width: 27px;
  }
  .ipa-table tr td{
    padding: 2px 2px 0 0;
    width: 27px;
    height: 27px;
   }
   .ipa-table tr td:first-child {
    padding-left: 1px;
  }
  .ipa-table tr:last-child td {
    padding-bottom: 1px;
  }
}

#ipa-output-toolbar {
  border-top:solid 2px var(--toolbar-bg);
	background-color:var(--toolbar-bg);
  height: 25px;
	white-space:nowrap;
  -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;
  user-select: none;
}

#ipa-output-toolbar .ipa-output-button {
  height: 100%;
  padding: 4px 5px 2px 5px;
  display: inline-block;
  margin: 0;
}

#ipa-output textarea {
	font-size:15pt;
	width: 100%;
	border:0;
  border-top:solid 1px var(--light-grey-border);
  resize: none;
  outline: none;
}

#ipa-output-toolbar #symbols-used a {
  font-size: 17px;
  color: var(--link);
	padding-left:1ex;
	padding-right:1ex;
  cursor: pointer;
	text-decoration:none;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;
}
#ipa-output-toolbar #symbols-used a:hover {
	background-color: var(--textbox-bg);
  color: var(--link);
}

#ipa-output-toolbar #symbols-used a:active {
  background: var(--select-bg);
  color: var(--select-text);
  -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;
  user-select: none;
}

#ipa-output-toolbar #symbols-used,
#ipa-output-toolbar #symbols-list {
	display:inline-block;
}
#ipa-output-toolbar #symbols-list {
  height: 100%;
}

#ipa-output {
  font-family: "Charis SIL", "Doulos SIL", Gentium, "Arial Unicode MS","Lucida Sans Unicode", Arial, Serif;
  position:fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--toolbar-bg);
  overflow-x: hidden;
}

#ipa-output textarea, .ipa-table button, #ipa-output #sampaBox,
#ipa-output-toolbar #symbols-used a {
font-family: "Charis SIL", "Doulos SIL", Gentium, "Arial Unicode MS","Lucida Sans Unicode", Arial, Serif;
}

.iss {
  max-width: 250px;
  background: #ccc;
}

.iss #nasalcavity, .iss #sagbottom { 
  width: 100%;
}

.iss #lips {
  width: 24.388%;
  display: inline;
  float: left;
}
.iss #tongue {
  width: 54.245%;
  display: inline;
  float: left;
}
.iss #velum {
  width: 21.368%;
  display: inline;
  float: left;
}

.iss img {
  display: inline-block;
}

#canvas {
  background: #e5e5e5;

}

#chart_container {
  overflow-x: auto;
}

.nice-list {
  counter-reset: item;
  list-style-type: none;
  list-style-position: inside;
  line-height: 22px;
}

.nice-list > li::before {
  counter-increment: item;
  content: counters(item, ".") ". ";
  color: var(--li-marker);
}


.wide-btn {
  width: 100%;
  background: var(--dark-green);
  color: #000;
}


/* --Mobile first, because that's the hipster thing to do I guess-- */
@media only screen and (min-width: 701px) {
  section { padding: 30px 30px;}
}