html {
  font-size: 62.5%;
  --bg-colour: #333333;
  --red-colour: #d3003f;
  --bg-colour: #333333;
  --code-bg-colour: #e4e0ee;
}
body {
  background: var(--bg-colour);
  font-family: 'Public Sans', Arial, sans-serif;
  font-size: 1.5em;
  line-height: 1.2;
  margin: 0
}
nav {
  background: #3f3f3f;
  max-width: 700px;
  margin: 0 auto;
  padding: 2px 0;
}
.breadcrumbs {
  font-size:1em;
}
.breadcrumbs li {
  display: inline-block;
}
.breadcrumbs li:not(:first-child):before {
  padding: 0 5px;
  color: #ccc;
  content: "»";
}
section {
  background: #f1f0ef;
  color: #000;
  margin: 0 0 10px 0;
  padding: 8px;
}
section#top {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
section:not(#top) {
  border-radius: 3px;
}
#content,header,footer {
  max-width: 700px;
  margin: 0 auto;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}

/*-- Text Elements --*/
a:link{
  color: var(--red-colour);
  text-decoration: none;
}
a:visited{
  color: var(--red-colour);
}
a:hover{
  text-decoration: underline;
}
h1 {
  background: #3f3f3f;
  border-radius: 6px;
  color: #f3f3f3;
  font-size: 2.8rem;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 23px;
  margin: 0 0 5px 0;
  padding: 15px 10px;
}
h1, h2,h3,h4,h5,h6 { 
  font-family: 'Public Sans', Arial, sans-serif;
}
h2 {
  font-size: 2.8rem;
  margin: 9px 0 9px 0;
}
h3 {
  font-size: 2.4rem;
  margin: 7px 0 7px 0;
}
h4 {
  font-size: 2rem;
  margin: 7px 0 7px 0;
}
h5 {
  font-size: 1.7rem;
  margin: 7px 0 7px 0;
}
h6 {
  font-size: 1.6rem;
  margin: 7px 0 7px 0;
}
p {
  margin: 10px 0;
}
blockquote {
  margin: 15px 0 15px 15px;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
ul, ol {
  padding-left:20px;
}
/*TABLES*/
table {
	border-collapse: collapse;
	border-spacing: 0;
  margin-bottom: 5px;
  overflow-x: auto;
}
table tr {
  white-space: nowrap;
}
table tr td {
  padding-right: 3px;
}
thead {
  border-bottom: solid #555555;
  border-bottom-width: thin;
  flex-wrap: nowrap;
  font-size: 1.4em;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.sortable thead {
  cursor: pointer;
}
.sortable thead .sorttable_nosort {
  cursor: default;
}
.sortable thead th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_original):not(.sorttable_nosort):after {
  content: "\0020\2B65";
  color: #c28194;
}
.sorttable_sorted::after, .sorttable_original::after { /*-- down arrow--*/
  content: "\0020\2B6D";
  color: var(--red-colour);
}
.sorttable_sorted_reverse::after { /*-- up arrow--*/
  content: "\0020\2B6B";
  color: var(--red-colour);
}
.styled-table tr:nth-child(even) {
  background: #e2e2e2;
  color: #000;
  overflow-x: auto;
}
.styled-table tr:last-child {
  border-bottom: solid #999999;
  border-bottom-width: 0.5px;
}
.styled-table tr:first-child {
  border-top: solid #999999;
  border-top-width: 0.5px;
}
.styled-table td {
  border-left: solid #999999;
  border-left-width: 0.5px;
  border-right: solid #999999;
  border-right-width: 0.5px;
  font-weight: 400;
  padding: 2px 5px 2px 5px;
  text-align: left;
}
.styled-table th {
  border: solid #999999;
  border-width: 0.5px;
  font-weight: 400;
  padding: 2px 5px 2px 5px;
  text-align: left;
  white-space: nowrap;
  flex-wrap: nowrap;
}
.styled-table {
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  font-size: 1em;
  margin-bottom: 2px;
  margin-right: auto;
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
  width: inherit;
}
.styled-table a {
  text-decoration: none;
}
.fixed-header{
  width: 400px;
  table-layout: fixed;
  border-collapse: collapse;
}

.fixed-header tbody{
display:block;
width: 100%;
overflow: auto;
height: 100px;
}

.fixed-header thead tr {
 display: block;
}
code.example {
  font-family: monospace;
  padding: 1px 2px;
  background: var(--code-bg-colour);
  color: #000;
  border-radius: 3px;
  font-size: 1.18em;
  white-space: pre-wrap;
}
pre.example {
  background: var(--code-bg-colour);
  border-radius: 3px;
  font-size: 1.18em;
  overflow-x: auto;
  overflow-y: clip;
  margin: 0;
  padding: 4px 6px;
}
abbr:hover {
  cursor: help;
}
mark {
  background: #3de5ff;
  padding: 2px 2px
}


/*-- Form Elements --*/
label {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: "Segoe UI", Arial, sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Chrome, Edge, Opera and Firefox */
}
fieldset {
  border: 2px ridge #aaa;
  margin-bottom: 8px;
}
fieldset legend {
  font-weight: bold;
  padding: 0 2px;
}
input[type='checkbox'], input[type='radio'], input[type='range'], progress {
  accent-color: var(--red-colour);
}
select option:hover {
  background: #00A4BD;
  color: #FFF;
}
textarea {
  width: 98%;
}
textarea, input, .fake-textbox {
  background: #Fdfbf8;
  white-space: pre;
  text-wrap: wrap;
}
.fake-textbox {
  -moz-appearance: textfield-multiline;
  -webkit-appearance: textarea;
  background: #Fdfbf8;
  border: transparent solid 1px;
  resize: both;
  box-shadow: inset 0px 1px 2px #666;
  padding: 6px;
  font-family: monospace;
  font-size: 1.2em;
  width: 98%;
}
.fake-textbox:hover {
  cursor: auto;
}
.fake-textbox:focus {
  outline: none;
  border: none;
  border: #ccc solid 1px;
}
.dropdown {
  display: inline-block;
  position: relative;
  margin-bottom: 5px;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  background: #fff;
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #FFFFFF;
  background: #00A4BD;
  cursor: pointer;
}
.dropdown-content a:active {
  color: #FFFFFF;
  background: var(--red-colour);
}
button, input[type="submit"], input[type="button"], input[type="reset"], input[type="disabled"] {
  -webkit-appearance: none;
  background: #e4e4e4;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 3px rgb(0 0 0 / 40%), 0 1px rgb(0 0 0 / 10%);
  color: rgba(0, 0, 0, 0.9);
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1;
  margin-top: 3px;
  padding: 8px 10px 6px 10px;
  text-align: center;
  transition: all 0.1s ease-in-out;
  user-select: none;
}
button:hover, input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="disabled"]:hover {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
button:active, input[type="submit"]:active, input[type="button"]:active, input[type="reset"]:active, input[type="disabled"]:active {
  color: #fff;
  background: var(--red-colour);
}
button, input[type="submit"], input[type="button"], input[type="reset"], input[type="disabled"], fieldset, textarea .fake-textbox {
  border-radius: 3px;
}

/*-- Embedded content --*/
meter::-webkit-meter-optimum-value {
  background: var(--red-colour);
}
meter::-moz-meter-bar {
  background: var(--red-colour);
}
video, audio, iframe, embed, object, canvas {
  width:100%;
  border: solid #333333 1px;
  border-radius: 3px;
}
img {
  width: 100%;
  min-width: 180px;
  max-width: 580px;
  overflow: scroll;
}


/* --Input Stuff-- */


#abbrvDelimiterInput,
#abbrvInput,
#abbrvDelimiterInput,
#notInterlinear {
  max-width: 40em;
  min-width: 40%;
  width: 95%;
}
#abbrvInput {
  height: 5em;
}


div .gll {
  display: inline-table;
  padding-right: 10px;
}
.gmg-ack {
  font-size: small;
}
.abbrv {
  cursor: help;
}
.sc {
  font-variant: small-caps;
  font-variant-numeric: oldstyle-nums;
  text-transform: lowercase;
}
.error-message {
  color: red;
}


#input {
  height: 8em;
  width: 98%;
  white-space: pre;
}
#output {
  font-family: monospace;
  height: 12em;
}
#out {
  margin: 10px 0;
}
.switch-field {
  margin-top: 10px;
}
.switch-field .checked {
  background: #e80046;
  box-shadow: none;
  color: white;
}

/* Please see the article */

#editing-highlighting-group {
  height: 500px;
  display: grid;
  grid-template-columns: 1fr;
}

#editing, #highlighting {
  /* Both elements need the same text and space styling so they are directly on top of each other */
  border: 0;
  overflow-y:auto;
  grid-row-start: 1; 
  grid-column-start: 1;
  width: 96%;
}
#editing, #highlighting, #highlighting * {
  /* Also add text styles to highlighing tokens */
  font-size: 12pt!important;
  font-family: monospace;
  line-height: 1.5!important;
  tab-size: 2!important;
}
/* Make textarea almost completely transparent */
#editing {
  color: transparent;
  background: transparent;
  caret-color: black; /* Show caret */
  resize: none; /* No resize on textarea */
  padding: 1em;
  padding-right: 0;
  margin: .5em 0;
}
#highlighting {
  word-wrap: break-word;
  white-space: pre-wrap;
}
#highlighting code{
  word-wrap: break-word;
  white-space: pre-wrap;
  display: block;
}


/* Syntax Highlighting from prism.js starts below, partly modified: */

/* PrismJS 1.29.0
https://prismjs.com/download.html#themes=prism&languages=python */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

 code[class*="language-"],
 pre[class*="language-"] {
     color: black;
     background: none;
     font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
     font-size: 1em;
     text-align: left;
     white-space: pre;
     word-spacing: normal;
     word-break: normal;
     line-height: 1.5;
 
     -moz-tab-size: 4;
     -o-tab-size: 4;
     tab-size: 4;
 
     -webkit-hyphens: none;
     -moz-hyphens: none;
     -ms-hyphens: none;
     hyphens: none;
 }
 
 pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
 code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
     text-shadow: none;
     background: #b3d4fc;
 }
 
 pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
 code[class*="language-"]::selection, code[class*="language-"] ::selection {
     text-shadow: none;
     background: #b3d4fc;
 }
 
 @media print {
     code[class*="language-"],
     pre[class*="language-"] {
         text-shadow: none;
     }
 }
 
 /* Code blocks */
 pre[class*="language-"] {
     padding: 1em;
     padding-right: 0;
     margin: .5em 0;
 }
 
 :not(pre) > code[class*="language-"],
 pre[class*="language-"] {
     background: #Fdfbf8
 }
 
 /* Inline code */
 :not(pre) > code[class*="language-"] {
     padding: .1em;
     border-radius: .3em;
     white-space: normal;
 }
 
 .token.comment {
     color: #029a02
 }
 .token.atrule,
 .token.attr-value,
 .token.keyword {
     color: blueviolet;
 }
 .token.selector,
 .token.attr-name,
 .token.builtin {
     color: #0045bd;
 }
 .token.property,
 .token.tag,
 .token.boolean,
 .token.number,
 .token.constant,
 .token.symbol {
     color: #ed2525;
 }
 .token.operator,
 .token.entity {
     color: #9a6e3a;
 }
 .token.punctuation {
     color: #999;
 }
 
 .token.important, .token.bold {
     font-weight: bold;
 }
 .token.italic {
     font-style: italic;
 }
 .token.entity {
     cursor: help;
 }

/* End of prism.js syntax highlighting*/


/* --Mobile first, because that's the hipster thing to do I guess-- */
@media only screen and (min-width: 600px) {
  section {margin: 0 0 10px 0; padding: 30px 30px;}
}